
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ./management-ns.yaml
- ./xxx

patchesStrategicMerge:
- |-
  apiVersion: apps/v1
  kind: Deployment
  metadata:
    name: busybox
    namespace: busybox
  spec:
    template:
      spec:
        containers:
        - name: busybox
          image: busybox
          imagePullPolicy: Never
